@import 'reset.css';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10fr 1fr;
  padding-top: 50px;
  box-sizing: border-box;
}

.weather-container {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0px 10px;
  background-color: rgba(233, 232, 232, 0.3);
  border-radius: 10px;
}

#weather {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container #login-form #input-label {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(233, 232, 232, 0.9);
  margin-bottom: 20px;
}

.login-container #login-form input,
.todo-container #todo-form input {
  border: none;
  background-color: rgba(233, 232, 232, 0.7);
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 20px;
  outline: none;
  box-sizing: border-box;
}

.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clock {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(233, 232, 232, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clock span:first-child {
  margin-bottom: 5px;
}

#greeting {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(233, 232, 232, 0.9);
}

#greeting i {
  margin-left: 10px;
  border-radius: 50%;
}

.todo-container .tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
}

.tasks .todo,
.tasks .done {
  width: 350px;
  height: 300px;
  background-color: rgba(233, 232, 232, 0.8);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
}

.tasks .task-title {
  width: 100%;
  height: 34px;
  background-color: rgba(177, 191, 250, 0.8);
  border-radius: 15px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasks #todo-list,
.tasks #done-list {
  width: 100%;
  overflow: auto;
}

#todo-list li,
#done-list li {
  width: 100%;
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: auto;
}

#todo-list li .fa-minus-circle,
#done-list li .fa-minus-circle {
  color: rgb(252, 33, 33);
  margin-right: 5px;
  cursor: pointer;
}

#todo-list li .fa-arrow-circle-right,
#done-list li .fa-arrow-circle-left {
  color: rgb(41, 41, 247);
  margin-right: 10px;
  cursor: pointer;
}

#todo-list li .todoText,
#done-list li .todoText {
  width: 100%;
  word-break: break-all;
}

#quote {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.9);
}

#quote span:last-child {
  margin-left: 20px;
  font-style: italic;
}

.hidden {
  display: none;
}
